<section id="experience">
    <h2>Experience</h2>
    <h3>Java Developer<br>Ceiba Tele ICU – Nov 2021 – Present</h3>
    <ul>
        <li>Developed Intensive Care Information Management Systems used in Turkey, Germany, and the USA.</li>
        <li>Integrated Hospital Information Systems (HIS) and medical device solutions.</li>
        <li>Experienced in Java and Microservices architecture with Spring Framework.</li>
        <li>Worked with Web API technologies (JSON, HL7, XML) and Web Services (SOAP, RESTful).</li>
        <li>Used Azure DevOps and GitLab for version control and CI/CD processes.</li>
    </ul>
    <h3>Java Developer<br>Prevezne Software – Oct 2019 – Nov 2020</h3>
    <ul>
        <li>Developed a logistics-focused mobile startup project.</li>
        <li>Provided post-sales training and support services for automation systems.</li>
        <li>Built mobile apps using Android Studio with Java and Kotlin.</li>
        <li>Involved in analysis, design, development, and testing (unit, integration, system tests).</li>
        <li>Used automated testing tools like Appium.</li>
    </ul>
    <h3>Intern Engineer<br>Fatih Sultan Mehmet Vakıf University – Aug 2018 – Mar 2019</h3>
    <ul>
        <li>Developed mobile apps for Android using Java and Kotlin.</li>
        <li>Worked with RESTful APIs and services.</li>
        <li>Focused on clean code and best practices in development.</li>
    </ul>
</section>