<div class="sidebar">


  <div class="profile profile-flex">
    <div class="profile-icons-col">
      <a href="mailto:tan.mert@outlook.com" class="icon-link" title="Email">
        <img src="images/email.png" alt="Email" />
      </a>
      <a href="https://www.linkedin.com/in/mert-tan-830bb795/" class="icon-link" title="LinkedIn" target="_blank" rel="noopener">
        <img src="images/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://github.com/merttanm" class="icon-link" title="GitHub" target="_blank" rel="noopener">
        <img src="images/github.png" alt="GitHub" />
      </a>
    </div>
    <div class="profile-info">
      <h1>Mert Tan</h1>
      <p class="title">Java Developer</p>
    </div>
  </div>

  <ul class="other-links">
    <li><a href="about.html" class="nav-link">About</a></li>
    <li><a href="projects.html" class="nav-link">Projects</a></li>
    <li><a href="experience.html" class="nav-link">Experience</a></li>
    <li><a href="contact.html" class="nav-link">Contact</a></li>
  </ul>

  <p class="copy">&copy; 2025 Mert Tan</p>
</div>