<div class="sidebar">
  <div class="profile">
    <h1>Mert Tan</h1>
    <p class="title">Java Developer</p>
  </div>

  <ul class="other-links">
    <li><a href="about.html" class="nav-link">About</a></li>
    <li><a href="projects.html" class="nav-link">Projects</a></li>
    <li><a href="experience.html" class="nav-link">Experience</a></li>
    <li><a href="blog.html" class="nav-link">Blog</a></li>
    <li><a href="contact.html" class="nav-link">Contact</a></li>
  </ul>

  <p class="copy">&copy; 2025 Mert Tan</p>
</div>