/* Layout flex ayarı */
/* Genel layout */
.layout {
  display: flex;
  min-height: 100dvh;
  width: 100%;
  background: linear-gradient(135deg, #3f8bbd 0%, #4a90e2 100%);
  overflow-x: hidden;
  position: relative;
  flex-wrap: nowrap;
  box-sizing: border-box;
  gap: 0;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    min-height: 100dvh;
  }
}


/* Sağ üst köşeye binary (1-0) dekoratif SVG efekt */


.content>div {
    padding: 2rem 0;
    scroll-margin-top: 20px;
    /* üstteki boşluk için */
}