/* Layout flex ayarı */
/* Genel layout */
.layout {
  display: flex;          /* yan yana */
  min-height: 100vh;
  width: 100vw;
  background: #5c9ecd;      /* tam ekran */
  overflow-x: hidden;
}

.content>div {
    padding: 2rem 0;
    scroll-margin-top: 20px;
    /* üstteki boşluk için */
}